<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">

  {{> meta }}

  <title>{{ meta.title }}</title>
  <script>window.isomorphicVars = {{{ isomorphicVars }}}</script>
</head>
<body>
  <div id="app">{{{ body }}}</div>
  <script src='/main.js'></script>
</body>
</html>
