@import 'bootstrap.css';
@import 'themify-icons.css';
@import 'theme.css';

/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

$ig-background-black: rgba(0, 0, 0, 0.2) !default;
$ig-white: #fff !default;
$ig-screen-sm-min: 768px !default;

td {
	padding: 12px;
}

h5 {
	color: $vin-blue;
}

.border {
  border: 1px solid #CED7E0;
}

.border-top-bottom {
	border-top: 1px solid #CED7E0;
	border-bottom: 1px solid #CED7E0;
}

.image-gallery {
	padding-top: 0px;
	padding-bottom: 0px;
}

.image-gallery-slide {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	&.center {
		position: relative;
	}

	img {
		width: 100%;
	}

	.image-gallery-description {
		background: $ig-background-black;
		bottom: 70px;
		color: $ig-white;
		left: 0;
		line-height: 1;
		padding: 10px 20px;
		position: absolute;
		white-space: normal;

		@media (max-width: $ig-screen-sm-min) {
			bottom: 45px;
			font-size: .8em;
			padding: 8px 15px;
		}

	}
}

.bg-secondary {
  background: #f2f2f2;
}
