
@import 'bootstrap.css';
@import 'themify-icons.css';
@import 'theme.css';
@import 'fontborder.scss';
@import 'gallery.css';
@import '../../node_modules/react-image-gallery/styles/css/image-gallery.css';


@import 'parallax.scss';
/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

td {
	padding: 12px;
}

h5 {
	color: $vin-blue;
}

.border {
  border: 1px solid #CED7E0;
}

.border-top-bottom {
	border-top: 1px solid #CED7E0;
	border-bottom: 1px solid #CED7E0;
}


.bg-secondary {
  background: #f2f2f2;
}
